.booking{
    min-height: 100vh;
    position: relative;
    animation: in .5s linear;
    background-color: #050752;
}
@keyframes in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.bookingForm{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bookingForm h1{
    color: #fff;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 50px;
}
.bookingForm form{
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 30px;
    /* background-color: red; */
}
.formInput{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: yellow; */
}
.formInputS{
    min-width: 40%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: yellow; */
}
.formInputT{
    flex: 1;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* background-color: yellow; */
}
.formInput label, .formInputS label, .formInputT label{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 10px;
}
.formInput input{
    padding: 10px;
    border: #fff 1px solid;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
    /* background-color: #fff; */
}
.formInput input::placeholder{
    color: #999;
    font-size: 1rem;
    font-weight: 300;
}
.formInputS select{
    padding: 10px;
    border: #fff 1px solid;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
}
.formInputT textarea{
    min-height: 100px;
    padding: 10px;
    border: #fff 1px solid;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 300;
}
.formSubmit{
    width: 100%;
}
.formSubmit button{
    padding: 10px 50px;
    border: #4eaee5 3px solid;
    border-radius: 5px;
    outline: none;
    font-size: 1.2rem;
    font-weight: 700;
    /* background-color: #050752; */
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}
.formSubmit button:hover{
    background-color: #4eaee5;
    color: #050752;
}

.booking__full{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}
.booking_success{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
}
.booking_success p{
    text-align: center;
    max-width: 50%;
    font-size: 1.5rem;
}



/*////////////// @media queries ////////////////*/ 


@media only screen and (max-width: 599px){
    .bookingForm h1{
        font-size: 2.2rem;
    }
    .booking_success p{
        max-width: 80%;
        font-size: 1.2rem;
    }
    .formInputS{
        min-width: 100%;
    }
  }
  @media only screen and (min-width: 600px) and (max-width: 768px){
    .formInputS{
        min-width: 100%;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1000px){
    
  }