.events{
    min-height: 100vh;
    position: relative;
    animation: in .5s linear;
    background-color: #050752;
}
@keyframes in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* 
#050752 dark blue
#4eaee5 aqua
#78e0f4 light blue
*/
.hero__container{
  position: absolute;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background: radial-gradient(ellipse, #00000000 0%, #00000033 0%, #000000ee 100%);
  padding-top: 70px;
}
.hero__container h1{
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  /* width: 60%; */
  font-weight: 300;
}
.hero__info{
    display: flex;
    align-items: center;
    gap: 50px;
}
.hero__icon{
    display: flex;
    align-items: center;
}
.hero__icon p{
    margin: 0;
    margin-left: 10px;
    font-size: 1.2rem;
}
.hero__btn{
    margin-top: 30px;
    padding: 8px 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 1.2rem;
    transition: .3s;
    border: 2px solid #4eaee5;
    cursor: pointer;
}
.hero__btn:hover{
    background-color: #4eaee5;
    color: #fff;
    transition: .3s;
}

.embla {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 30%;
    /* filter: brightness(70%); */
  }
  .embla__container {
    height: 100%;
    display: flex;
  }
  .embla__slide {
    width: 100%;
    height: 100%;
    flex: 0 0 100%;
    position: relative;
}
.embla__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: grab;
  }
/* /////////////////////////////////////////////////////// */
.title__container{
  position: absolute;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.title__container h1{
  /* border-top: #4eaee5 solid 5px; */
  font-size: 4rem;
  line-height: 4rem;
  color: #fff;
  text-align: center;
  /* font-weight: 300; */
}
  .loc__container{
    border: #78e0f4 solid 3px;
    position: relative;
    border-radius: 10px;
    margin: 30px auto;
    /* width: 100%; */
    max-width: fit-content;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
/* /////////////////////////////////////////////////////// */


  /* /////////////////////////////// */
  .upcoming{
    position: relative;
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
  }
  .upcoming h1> span{
    /* background: linear-gradient(to bottom right, #F0453D 17%, #2D236A 100%);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; */
    color: #4eaee5;
  }


  .events__holder{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
  }
  .event__card{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event__card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
  }
  .event__container{
    background: linear-gradient(to bottom , #78e0f4 10%, #4eaee5 30%, #050752 80%);
    border-radius: 10px;
    border-top: 3px solid #78e0f4;
    width: 90%;
    transform: translateY(-40px);
    padding: 20px;
    /* box-shadow: 0 0 30px #2D236A; */
  }
  .event__title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
  }
  .event__catDat{
    display: flex;
    align-items: center;
  }
  .event__category{
    padding: 5px 20px;
    background-color: #050752;
    color: #fff;
    border-radius: 50px;
    margin-right: 20px;
  }
  .event__date{
    display: flex;
    align-items: center;
  }
  .event__date p{
    font-size: 12px;
    color: #fff;
    margin-left: 10px;
  }
  .event__desc{
    font-size: 12px;
    color: #fff;
  }
  .event__info{
    display: flex;
    justify-content: center;
  }
  .event__icon{
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  .event__icon p{
    margin-left: 5px;
    font-size: 12px;
  }

  /* ////////////////////////////////  Why Visit   //////////////////////////////////// */

.whyvisit{
  display: flex;
  width: 100%;
  margin-top: 80px;
  position: relative;
  background-color: #fff;
  color: #050752;
}
.whyvisit_l{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}
.whyvisit_l_svg{
  /* background-color: #fff; */
  border-radius: 20px;
  padding: 20px;

}
.whyvisit_l svg{
  width: 50%;
  object-fit: cover;
}
.whyvisit_r{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
}
.whyvisit_r h1{
  margin-top: 0;
}
  /* ////////////////////////////////////////////////////////////////////////////////// */
  
  /* ////////////////////////////////  Features   //////////////////////////////////// */
  
  .features{
    position: relative;
    width: 80%;
    /* background-color: #4eaee5; */
    margin: 100px auto;
    border-radius: 20px;
    padding: 50px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .features_h{
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* .features_h h1::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #ffffff55;
    border-radius: 20px;
  } */
  .features_h h1{
    margin: 0;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
  }
  .features_h h1> span{
    color: #78e0f4;
  }
  .features__container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    /* border: #4eaee5 solid 3px; */
    padding: 30px;
    border-radius: 20px;
  }
  .feature__card{
    position: relative;
    width: 250px;
    height: 200px;
    /* background: url(https://picsum.photos/1200/800) no-repeat ;
    background-size: cover; */
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease-in-out;
  }
  .feature__card:hover{
    transform: scale(1.1);
    box-shadow: -10px 10px 10px #2D236A;
  }
  .feature__card:hover .feature_cardContent{
    transform: rotateY(0deg) rotateX(0deg);
  }
  .feature__card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .3s ease-in-out;
  }
  .feature_cardContent{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000000aa;
    border-radius: 10px;
    padding: 20px;
    perspective: 800px;
    transform-style: preserve-3d;
    transform: rotateY(90deg) rotateX(90deg);
    /* transform-origin: left; */
    transition: .3s ease-in-out;
  }
  .feature_cardContent h2{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
  }
  .feature_cardContent p{
    margin: 0;
    font-size: .9rem;
  }
  
  /* ////////////////////////////////////////////////////////////////////////////////// */

  /* /////////////////////////////////// Partners ///////////////////////////////////// */

  .partners{
    position: relative;
    width: 80%;
    /* background-color: #4eaee5; */
    margin: 0 auto;
    padding: 50px 20px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .partners h1{
    margin: 0;
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
  }
  .partners_container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    padding: 30px;
    background-color: #fff;
    border-radius: 20px;
  }
  .partner{
    position: relative;
    width: 100px;
    height: 70px;
    overflow: hidden;
    transition: .3s ease-in-out;
  }
  .partner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: .3s ease-in-out;
  }

  /* ////////////////////////////////////////////////////////////////////////////////// */

  /* //////////////////////////////////// Speakers //////////////////////////////////// */

.speakers{
  position: relative;
  width: 100%;
  background-color: #fff;
  margin: 100px auto;
  /* border-radius: 20px; */
  padding: 50px 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #050752;
}
.speakers h1{
  margin: 0;
  margin-bottom: 50px;
  width: fit-content;
  text-align: center;
  font-size: 2.5rem;
  border-bottom: #050752 solid 3px;
}
.speakers__container{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  padding: 30px 30px;
}
.speaker{
  position: relative;
  width: 200px;
  height: 350px;
  transition: .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: #050752 solid 3px; */
  border-radius: 20px;
  margin-bottom: 30px;
}
.speaker__content{
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #fff;
  border-radius: 20px;
}
.speaker img{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
  transition: .3s ease-in-out;
}
.speaker__name{
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}
.speaker__title{
  margin: 0;
  font-size: .9rem;
  text-align: center;
}
.speaker__social{
  position: absolute;
  bottom: 0;
  width: 90%;
  transform: translateY(0%);
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  padding: 15px;
  background-color: #050752;
  border-radius: 0 0 20px 20px;
  transition: .3s;
}
.speaker:hover{
  transform: scale(1.1) translateY(-20px);
  box-shadow: 0 0 20px 10px #05075255;
}
.speaker:hover .speaker__social{
  transform: translateY(100%);
}

  /* ////////////////////////////////////////////////////////////////////////////////// */



/*////////////// @media queries ////////////////*/ 


@media only screen and (max-width: 599px){
  .hero__info{
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
  .hero__container{
  }
  .embla{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .event__card{
    width: 90%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px){
  .hero__info{
    flex-direction: column;
    gap: 10px;
  }
  .events__holder{
    padding: 0 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1000px){
  .hero__info{
    flex-direction: column;
    gap: 10px;
  }
  .events__holder{
    padding: 0 10px;
  }
}